

*{
  margin: 0;
  padding: 0;  
}
  main{
    display: flex;
    align-items: center;
    justify-content: center
  }
#nevla{
    
    background-color: #0e0e0e;
    height: 60px;
    color: white;
}

ul {
    display: flex;
    justify-content: space-evenly;
}
ul li{
    list-style: none;
    margin: 23px 0;
}
.box{
    height: 750px;
    width: 570px;
    margin: 20px;
    padding: 30px 15px;
    border: 2px solid violet;
    border-radius: 10px;
    color: rgb(253, 251, 251);
    overflow: hidden;
    object-fit: fill;
    background: #1111d1;
    /* background-image:url(https://images.unsplash.com/photo-1611702700114-ac96de0952e2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGRhcmslMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60) ; */
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
p{
    max-width:65%;
    text-align: center;
}
h1, h2, h3{
    margin: 23px 0;
}
table, td, tr{
    border: 2px solid rgb(7, 7, 7);
    border-collapse: collapse;
    padding: 6px 13px;
}


#password{
    margin: 10px 20px;
}
.btn{
    height: 30px;
    width: 100px;
    font-weight: 500;
    color: rgb(5, 5, 5);
    background-color: aqua;
    margin: 10px;
}
